
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
	border: 1px solid #e0e0e0;
	padding: 6px 10px 10px 10px;
}

th {
	border: 0px solid #e0e0e0;
	background-color: #e0e0e0;
	border-radius: 3px;
	padding: 3px 20px 6px 20px;
}

td {
	border: 0px solid #e0e0e0;
	border-radius: 3px;
	padding: 3px 20px 6px 20px;
}

code {
	background-color: #e0e0e0;
	border-radius: 2px;
	color: #303030;
	padding: 3px 10px;
}

